#about {
  animation: fade-right forwards;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 450px;
  animation-timing-function: ease-in-out;
  -o-animation: none !important;
}

.about-content {
  display: flex;
  align-items: center;
  column-gap: 120px;
}

.edu-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  text-align: center;
}

/* for mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
  #about {
    animation: none;
  }

  .about-content {
    flex-direction: column;
  }

  .edu-content {
    padding: 16px 0;
  }

  .about-content > .details {
    padding: 16px 0;
  }
}

/* for ipads and tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .about-content {
    column-gap: 60px;
  }

  .edu-content > .info {
    text-align: center;
  }
}
