.navbar {
  background: rgb(0, 0, 0);
  font-family: Outfit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 115px;
  padding: 32px 96px;
}

.logo {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: .5px;
  color: white;
  text-decoration: none;
}

.menu-list {
  background: black;
  display: flex;
  list-style-type: none;
  column-gap: 40px;
}

.menu-link {
  font-size: 20px;
  letter-spacing: .3px;
  color: white;
  text-decoration: none;
  font-weight: 200;
  padding: 4px 8px;
  border-radius: 16px;
}

.active {
  color: black;
  background-color: white;
  font-weight: 900;
}

.fa.fa-bars.menu-icon {
  display: none;
  font-size: x-large;
  cursor: pointer;
  color: white;
}

.icon {
  display: none;
}

.nav-icon {
  font-size: 18px;
}

/* for mobile devices */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar {
    padding: 32px;
    height: 88px;
  }

  .logo {
    font-size: 24px;
  }

  .fa.fa-bars.menu-icon {
    display: block;
  }

  .fa.fa-bars.menu-icon.rotate {
    transform: rotate(90deg);
  }

  .menu-list {
    display: none;
    position: absolute;
    top: 88px;
    left: 0px;
    width: 100%;
    /* border-bottom: 1px solid; */
    flex-direction: column;
  }

  .expanded {
    display: block;
  }

  .menu-link {
    color: while;
    display: block;
    padding: 16px;
    text-align: center;
    font-size: 200;
  }

  .active {
    color: white;
    background: black;
    font-weight: 900;
  }
}

/* for ipads and tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .navbar {
    padding: 32px 40px;
    height: 94px;
    column-gap: 16px;
  }

  .logo {
    font-size: 22px;
  }

  .menu-list {
    column-gap: 8px;
  }

  .menu-link {
    font-size: 14px;
  }

  .nav-icon {
    font-size: 14px;
  }
}

/* for laptop and small screens */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar {
    padding: 32px 64px;
    height: 100px;
  }

  .logo {
    font-size: 28px;
  }

  .menu-list {
    column-gap: 20px;
  }

  .menu-link {
    font-size: 16px;
  }

  .nav-icon {
    font-size: 16px;
  }
}
